body {
    padding: 0;
    margin: 0;
  }
  
  img {
    margin: 0;
  }
  #topBar {
    min-width: 100%;
    height: auto;
    background-color: #b0334c;
    padding-bottom: 10px;
  }
  #topBarText {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    align-self: center;
    margin-top: -70px;
    color: white;
  }